body {
    margin: 0;
    padding: 20px;
    font-family: Consolas, sans-serif;
    min-width: 400px;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    /* padding: 0px auto; */
}

.nav-links a {
    text-decoration: none;
    font-size: 20px;
    color: #5f9341;
    text-shadow:
        0 0 2px #5f9341;
}

.nav-links a:hover {
    color: red;
    text-shadow:
        0 0 2px red;
}

.nav-links .active {
    color: red !important;
    text-shadow:
        0 0 2px red;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 6px;
    box-shadow: 5px 10px 15px #5f93413a;

}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-container button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
    box-shadow: 3px 10px 10px #a1df7dd5;
    border-radius: 7px;
    margin: auto 5px;
}

.btn-container button:hover {
    background-color: #6eac4a;
}

#delete-btn {
    background: red;
    color: #fff;
    border-color: red;
}

#delete-btn:hover {
    background: rgb(240, 51, 51);
    color: #ffffff;
}

.btn-container button:active {
    background-color: #6eac4a;
    box-shadow: 3px 10px 10px #5f9341;
    transform: translateY(3px);
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

#ul-el a {
    color: #5f9341;
}

span {
    color: #5f9341;
    margin: 0 20px;
    font-size: 18px;
    cursor: pointer;
}

.fa-regular {
    pointer-events: none;
}


span:hover {
    color: red;
    text-shadow:
        0 0 5px red;
    cursor: pointer;

}

.link {
    display: flex;
    justify-content: space-between;
}
