@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Fira+Mono:wght@400;500;700&family=Inter:wght@400;500;600;700;800&family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@0,500;0,600;0,700;1,500;1,600&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    font-family: 'Open Sans', sans-serif;
    color: #ddd;
} */
body {
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh !important;
    overflow: hidden !important;

    /* justify-content: center; */
    margin: 0;
    padding: 30px 20px 20px;
    font-family: Consolas, sans-serif;
    min-width: 400px;

}
li{
    list-style: none;
}

.nav-links {
    display: flex;

    justify-content: space-around;
    background-color: #ccdcf692;
    padding: 20px 0;
    border-radius: 15px;
    margin-bottom: 20px;

    /* padding: 0px auto; */
}

.nav-links a {
    text-decoration: none;
    font-size: 20px;
    color: #5f9341;
    text-shadow:
        0 0 2px #5f9341;
}

.nav-links a:hover {
    color: red;
    text-shadow:
        0 0 2px red;
}

.nav-links .active {
    color: red !important;
    text-shadow:
        0 0 2px red;
}

span {
    color: #64ffda;
}
.card{
    background-color: #a1b3cc92;
    padding: 1em 2em;
    border-radius: 25px;
    width: 100%;
    max-width: 420px;
    margin: 10px auto 160px !important;
    overflow: hidden;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin: .5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    font-size: 20px;
    background-color: #bdbcbcb5;
    color: #64ffda;
    transition: all .2s ease-in-out;
}
button:hover{
    background-color: #7c7c7c6b;
    cursor: pointer;
}
input{
    border: none;
    outline: none;
    padding: .45em 1em;
    background-color: #c7c4c48b;
    border-radius:24px;
    color: #64ffda;
    font-family: inherit;
    font-size: 105%;
    width: 80%;
}
h1.temp{
    margin: 15px 0 ;
}
.flex{
    display: flex;
    align-items: center;
}
.icon{
    width: 15%;
}
.description{
    text-transform: capitalize;
}
.weather.loading{
    visibility: hidden;
}